.center {
  align-self: start;
  justify-self: center;
  display: flex;
  column-gap: 2rem;
}

.card {
  background-color: #282828;
  width: 210px;
  height: 300px;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 5px 8px #100f0f;
  text-shadow: -2px -2px 0 #000, 0 -2px 0 #000, 2px -2px 0 #000, 2px 0 0 #000,
    2px 2px 0 #000, 0 2px 0 #000, -2px 2px 0 #000, -2px 0 0 #000;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  display: grid;
  grid-template-rows: 85% 15%;
}

.card-img {
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  transform: perspective(1000);
}

.card:hover {
  transition: 300ms;
  border: 2px solid white;
}

.card {
  border: 2px solid transparent;
}
