.App {
  text-align: center;
  display: grid;
  grid-template-rows: 30% auto 5%;
  height: 100vh;
  background-image: url(./components/assets/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

#logo {
  height: 50%;
}
