@font-face {
  font-family: 'jedi';
  src: url(/src/components/assets/Star-JediFont/StarjediRegular.ttf);
}

@font-face {
  font-family: 'jedi-outline';
  src: url(/src/components/assets/Star-JediFont/StarJediOutline.ttf);
}

body {
  margin: 0;
  font-family: 'jedi', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer {
  font-family: 'jedi';
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.2rem;
}
